<div class="article-footer-copyright" >
    <span>本文标题:</span>&nbsp;&nbsp;&nbsp;&nbsp;<a herf={{ .Permalink }}>{{ .Title }}</a><br>
    <span>发布时间:</span>&nbsp;&nbsp;&nbsp;&nbsp;{{ .PublishDate.Format "2006-01-02" }}<br>
    <span>文章作者:</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ .Sites.First.Home.RelPermalink }}">3mile</a> <br>
    <span>原始链接:</span>&nbsp;&nbsp;&nbsp;&nbsp;<a herf={{ .Permalink }} target="_blank" >{{ .Permalink }}</a><br>
    <p><span>许可协议:</span>&nbsp;&nbsp;&nbsp;&nbsp; <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" title="Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)">署名-非商业性使用-禁止演绎 4.0 国际</a> 转载请保留原文链接及作者。</p>  
</div>